<!--
Project: IdentityServer
File: Logout.cshtml

Copyright 2017 Mjollnir<mjollnir@59k.org>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
@model LogoutViewModel

<div class="logout-page">
    <div class="page-header">
        <h1>Logout</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>Would you like to logout of IdentityServer?</p>
            <form asp-action="Logout">
                <input type="hidden" name="logoutId" value="@Model.LogoutId"  />
                <fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary">Yes</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>